USE [Nong2km]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/8/2022 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Directors]    Script Date: 11/8/2022 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](40) NOT NULL,
	[Male] [bit] NOT NULL,
	[Dob] [date] NOT NULL,
	[Nationality] [varchar](30) NOT NULL,
	[Description] [ntext] NOT NULL,
 CONSTRAINT [PK_Directors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 11/8/2022 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[movie_id] [int] NOT NULL,
 CONSTRAINT [PK_Favorite] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LiveTV]    Script Date: 11/8/2022 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LiveTV](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[description] [nvarchar](250) NULL,
	[image] [nvarchar](150) NULL,
	[link] [nvarchar](150) NULL,
 CONSTRAINT [PK_LiveTV] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie_genre]    Script Date: 11/8/2022 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie_genre](
	[id] [int] NOT NULL,
	[movie_id] [int] NOT NULL,
	[genre_id] [int] NOT NULL,
 CONSTRAINT [PK_movie_genre] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Star]    Script Date: 11/8/2022 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Star](
	[MovieId] [int] NOT NULL,
	[StarId] [int] NOT NULL,
 CONSTRAINT [PK_Movie_Star] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC,
	[StarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 11/8/2022 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](250) NULL,
	[overview] [nvarchar](max) NULL,
	[poster] [nvarchar](250) NULL,
	[backdrop] [nvarchar](250) NULL,
	[vote_average] [float] NULL,
	[vote_count] [int] NULL,
	[views] [int] NULL,
	[runtime] [int] NULL,
	[release_date] [datetime] NULL,
	[create_at] [datetime] NULL,
	[video_link] [nvarchar](max) NULL,
	[quality] [nchar](10) NULL,
	[category] [nvarchar](250) NULL,
	[ProducerId] [int] NULL,
	[DirectorId] [int] NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producers]    Script Date: 11/8/2022 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Productions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stars]    Script Date: 11/8/2022 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[Male] [bit] NULL,
	[Dob] [date] NULL,
	[Description] [text] NULL,
	[Nationality] [varchar](30) NULL,
 CONSTRAINT [PK_Stars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/8/2022 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[avatar] [nvarchar](255) NULL,
 CONSTRAINT [PK_Users_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[views_count]    Script Date: 11/8/2022 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[views_count](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[visitor] [int] NOT NULL,
	[mid] [int] NULL,
 CONSTRAINT [PK_views_count] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visitor_count]    Script Date: 11/8/2022 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visitor_count](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[visitor] [int] NOT NULL,
 CONSTRAINT [PK_visitor_count] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([id], [name], [description]) VALUES (1, N'Adventure', N'Adventure')
INSERT [dbo].[Category] ([id], [name], [description]) VALUES (2, N'Fantasy', N'Fantasy')
INSERT [dbo].[Category] ([id], [name], [description]) VALUES (3, N'Animation', N'Animation')
GO
SET IDENTITY_INSERT [dbo].[Directors] ON 

INSERT [dbo].[Directors] ([Id], [FullName], [Male], [Dob], [Nationality], [Description]) VALUES (6, N'Long', 1, CAST(N'2002-10-16' AS Date), N'JP', N'Longggggggggggggggggggggggggg')
INSERT [dbo].[Directors] ([Id], [FullName], [Male], [Dob], [Nationality], [Description]) VALUES (8, N'Nog', 1, CAST(N'2002-10-16' AS Date), N'VN', N'Noggggggggggggggggggggggg')
INSERT [dbo].[Directors] ([Id], [FullName], [Male], [Dob], [Nationality], [Description]) VALUES (9, N'Log', 1, CAST(N'2002-10-16' AS Date), N'USA', N'Loggggggggggggggggggggg')
SET IDENTITY_INSERT [dbo].[Directors] OFF
GO
SET IDENTITY_INSERT [dbo].[LiveTV] ON 

INSERT [dbo].[LiveTV] ([id], [title], [description], [image], [link]) VALUES (0, N'Australia Channel', N'Australian News Channel is an Australian privately held subsidiary of News Corp Australia which owns media properties operating in Australia and New Zealand.', N'https://tbivision.com/files/2014/10/Australia-channel.jpg', N'https://austchannel-live.akamaized.net/hls/live/2002729/austchannel-news/master.m3u8')
INSERT [dbo].[LiveTV] ([id], [title], [description], [image], [link]) VALUES (1, N'sfsafa', N'sdfsdfs', N'https://i.imgur.com/bXvnKGN.png', N'http://1223')
SET IDENTITY_INSERT [dbo].[LiveTV] OFF
GO
INSERT [dbo].[movie_genre] ([id], [movie_id], [genre_id]) VALUES (3, 3, 11)
INSERT [dbo].[movie_genre] ([id], [movie_id], [genre_id]) VALUES (4, 3, 14)
INSERT [dbo].[movie_genre] ([id], [movie_id], [genre_id]) VALUES (5, 3, 10)
GO
INSERT [dbo].[Movie_Star] ([MovieId], [StarId]) VALUES (2, 1)
INSERT [dbo].[Movie_Star] ([MovieId], [StarId]) VALUES (2, 5)
INSERT [dbo].[Movie_Star] ([MovieId], [StarId]) VALUES (2, 6)
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[Producers] ON 

INSERT [dbo].[Producers] ([Id], [Name]) VALUES (1, N'MCU')
INSERT [dbo].[Producers] ([Id], [Name]) VALUES (2, N'Pixax')
INSERT [dbo].[Producers] ([Id], [Name]) VALUES (3, N'DCU')
SET IDENTITY_INSERT [dbo].[Producers] OFF
GO
SET IDENTITY_INSERT [dbo].[Stars] ON 

INSERT [dbo].[Stars] ([Id], [FullName], [Male], [Dob], [Description], [Nationality]) VALUES (1, N'StarA', 1, CAST(N'2002-10-16' AS Date), N'AAAAAAAAAAAAAAA', N'VN')
INSERT [dbo].[Stars] ([Id], [FullName], [Male], [Dob], [Description], [Nationality]) VALUES (2, N'StarB', 0, CAST(N'2002-10-16' AS Date), N'BBBBBBBBBBBBBBBBBB', N'USA')
INSERT [dbo].[Stars] ([Id], [FullName], [Male], [Dob], [Description], [Nationality]) VALUES (3, N'StarC', 1, CAST(N'2002-10-16' AS Date), N'CCCCCCCCCCCCCCCC', N'VN')
SET IDENTITY_INSERT [dbo].[Stars] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [role], [name], [email], [username], [password], [avatar]) VALUES (8, N'admin', N'Nguyen Thanh Long', N'nguyenthanhlong16102002@gmail.com', N'nguyenthanhlong16102002', N'$2a$12$Wipm8/bo0Qz9VvqlRQl6fegnligmfy6iG5uF5McHV4T1QbEox7Wqu', N'https://i.imgur.com/zXbhmFD.png')
INSERT [dbo].[Users] ([id], [role], [name], [email], [username], [password], [avatar]) VALUES (9, N'user', N'Test Account 1', N'test1@gmail.com', N'test1', N'1OfI1dKNiLCrMfSUjxDQ1g==', N'https://i.imgur.com/zXbhmFD.png')
INSERT [dbo].[Users] ([id], [role], [name], [email], [username], [password], [avatar]) VALUES (10, N'user', N'Test Account 2', N'test2@gmail.com', N'test2', N'1OfI1dKNiLCrMfSUjxDQ1g==', N'https://i.imgur.com/zXbhmFD.png')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[visitor_count] ON 

INSERT [dbo].[visitor_count] ([id], [date], [visitor]) VALUES (3, CAST(N'2022-09-20' AS Date), 3121)
INSERT [dbo].[visitor_count] ([id], [date], [visitor]) VALUES (1002, CAST(N'2022-09-22' AS Date), 21231)
INSERT [dbo].[visitor_count] ([id], [date], [visitor]) VALUES (2002, CAST(N'2022-09-25' AS Date), 135123)
SET IDENTITY_INSERT [dbo].[visitor_count] OFF
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Movies] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([id])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Movies]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FK_Favorite_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FK_Favorite_Users]
GO
ALTER TABLE [dbo].[movie_genre]  WITH CHECK ADD  CONSTRAINT [FK_movie_genre_Genres] FOREIGN KEY([genre_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[movie_genre] CHECK CONSTRAINT [FK_movie_genre_Genres]
GO
ALTER TABLE [dbo].[movie_genre]  WITH CHECK ADD  CONSTRAINT [FK_movie_genre_Movies] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([id])
GO
ALTER TABLE [dbo].[movie_genre] CHECK CONSTRAINT [FK_movie_genre_Movies]
GO
ALTER TABLE [dbo].[Movie_Star]  WITH CHECK ADD  CONSTRAINT [FK_Movie_Star_Movies] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movies] ([id])
GO
ALTER TABLE [dbo].[Movie_Star] CHECK CONSTRAINT [FK_Movie_Star_Movies]
GO
ALTER TABLE [dbo].[Movie_Star]  WITH CHECK ADD  CONSTRAINT [FK_Movie_Star_Stars] FOREIGN KEY([StarId])
REFERENCES [dbo].[Stars] ([Id])
GO
ALTER TABLE [dbo].[Movie_Star] CHECK CONSTRAINT [FK_Movie_Star_Stars]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [FK_Movies_Directors] FOREIGN KEY([DirectorId])
REFERENCES [dbo].[Directors] ([Id])
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [FK_Movies_Directors]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [FK_Movies_Producers] FOREIGN KEY([ProducerId])
REFERENCES [dbo].[Producers] ([Id])
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [FK_Movies_Producers]
GO
ALTER TABLE [dbo].[views_count]  WITH CHECK ADD  CONSTRAINT [FK_views_count_Movies] FOREIGN KEY([mid])
REFERENCES [dbo].[Movies] ([id])
GO
ALTER TABLE [dbo].[views_count] CHECK CONSTRAINT [FK_views_count_Movies]
GO
